h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

.button{
    width:60px; 
    text-align:center;
}

.affiche{
    width: 100%;
    text-align: right;
}

table{
    margin: auto;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
}